html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,p2,p3 blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
margin:0;
padding:0;
border:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

html{
  font-family: 'Source Sans Pro';
	font-size: 16px;
	line-height: 1.5;
	font-weight: 200;
	color: black;
}

body{
  width: 90%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 3rem 0;
}

footer,header,section{
display:block;
}

/* Type Design */
h1,h2,h3,h4 { margin-bottom: 1.5rem; }
h1 { font-size: 3.157rem; line-height: 4.5rem; font-weight: 600; }
h2 { font-size: 1.2rem; line-height: 3rem; font-weight: 200; }
p { font-size: 1.333rem; font-weight:400; margin-top: 1.5rem; margin-bottom: 2rem; }
.title { font-weight: 700; color: #6d819c; }

/* Layout Design */
#wrapper { /*90%로 너비값*/
    width: 90%;
    margin: 0 auto;
}
header { /*헤더 %로 단위변경*/
    width: 100%;
    height: 120px;
    text-align: center;
    text-justify: center;
}
.des_grid {
	padding: 1.5rem 0 1.5rem;
  text-align: center;
  color: #263959;
}

/* Grid Section */
.grid-box-contents{
  text-align: center;
}
.grid-box1 {
    float: left;
    width: 60%;
    height: 400px;
    padding: 2%;
    margin-bottom: 2%;
    background-color: #6d819c;

}
.grid-box2 {
    float: right;
    width: 30%;
    height: 400px;
    padding: 2%;
    background-color: #55967e;
}
.grid-box3 {
    clear: both;
    width: 96%;
    height: 120px;
    padding: 2%;
    background-color: #263959;
}
